@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgb(139 92 246 / 0.4);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(51 65 85) transparent;
}
